API_Training/weather/api-weather-key.js
API_Training/firebaseAPI/apiKey.js
API_Training/firebaseNotes/apikey.js
API_Training/firebasestarterAPI/




TrainingsTimer/TrainingsTimer1/READMEandLOGIC.md
TrainingsTimer/TrainingsTimer2/READMEandLOGIC.md
TrainingsTimer/Theraband.html

Django_Code_Generator/

API_Training/weather/script1.js
API_Training/weather/style1.css
