API_Training/weather/api-weather-key.js
API_Training/firebaseAPI/apiKey.js
API_Training/bookfinder/


TrainingsTimer/TrainingsTimer1/READMEandLOGIC.md
TrainingsTimer/TrainingsTimer2/READMEandLOGIC.md


Django_Code_Generator/

weather/script1.js
weather/style1.css
