*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    text-align: center;
}

input{
    padding: 10px 20px;
    margin: 20px 0;
}

input[type="text"]{
    width: 300px;
}

input[text="button"]{
    background-color: red;
    color: white;
    border: 2pc solid grey;
}


